extends include/main

block variables
  - let title = 'Webpack template'
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__title
          h1 Main page
