
$white                     : #ffffff;
$darkGrey                  : #2e3440;
$lightGrey                 : #cecece;

/* Font options */
$mainColor                 : #191b1d;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : Arial, sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(25, 27, 29, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1184px;
$desktopWidth_md           : 1376px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$backgroundColor           : #f6f6f6;
$linkColor                 : #0000ff;
$linkColor_hover           : #ff0000;
$accentColor               : #ac13ff;
$successColor              : #375cff;
$errorColor                : #dc2d70;
