block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='Ilya Korotkov ilushkeens@gmail.com')
    meta(name='theme-color' content='#f6f6f6')

    // icon & css
    link(href='/favicon.svg' rel='icon')
    link(href='/mask-icon.svg' rel='mask-icon' color='#191b1d')
    link(href='/apple-touch-icon.png' rel='apple-touch-icon')
    link(href='/manifest.json' rel='manifest')
  body
    #app
      include header
      main
        block content
      include footer

    // js
