
/* Index page */
#index {
  .container {
    .index {
      &__title { margin-bottom: 1.25rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .index {}
    }
    @media screen and (min-width: $desktopWidth) {
      .index {}
    }
  }
}
